@use "../variables" as *;
@use "../mixins" as *;

.cta {
  height: 47px;
  width: 200px;
  border-radius: 50px;
  color: $theme-secondary;
  font-weight: bold;
  font-size: 23px;
  border: none;
  transition: ease-in-out 0.4s;

  &:hover {
    @include hoverOverBtn-1;
    transform: scale(1.1);
  }
}

.sign-action {
  height: 40px;
  width: 150px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 22px;
  border: none;
  transition: ease-in-out 0.4s;
}

.controls-signup {
  .sa-signup {
    background: $theme-background;
    color: white;

    &:hover {
      @include hoverOverBtn-2;
    }
  }
}

.controls-signin {
  .sa-signin {
    color: $theme-secondary;

    &:hover {
      @include hoverOverBtn-1;
    }
  }
}

.clear-btn {
  height: 26px;
  width: 100px;
  margin-top: 10px;
  font-size: 16px;
  border: solid 1px black;
}

.createprofile-controls {
  button {
    height: 47px;
    width: 200px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 22px;
    border: solid 1px $theme-primary;
    transition: ease-in-out 0.4s;
    color: red;

    &:hover {
      @include hoverOverBtn-3;
    }
  }
}
