@use "./buttons" as *;
@use "../variables" as *;
@use "../mixins" as *;

.form-cont {
  width: 500px;
  height: 400px;
  background: lightgray;
  border-radius: 20px;
  position: absolute;
  top: 130px;
  left: 410px;
  box-shadow: 0 0 5px gray 0 0 10px black;
  background: $theme-background;

  form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-size: 23px;
    }
    input {
      border-radius: 11px;
    }

    .controls-signup,
    .controls-signin {
      margin-top: 20px;
      text-align: center;
      @include flexDisplayColumn-1;

      button {
        margin-right: 10px;
      }
    }
    .controls-signin {
      margin-top: 100px;
    }
  }
}

.profile-form {
  margin-top: 20px;
  text-align: center;
  @include flexDisplayColumn-1;

  form {
    .pf-div {
      margin-top: 170px;
      label {
        font-size: 28px;
        text-align: center;
      }
      .group-input {
        display: flex;
        flex-direction: row;
        input {
          width: 650px;
        }
        .svg-cont {
          svg {
            transform: translateX(-38px);

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .createprofile-controls {
      transform: translateY(-80px);
    }

    .input-gender-label,
    .input-gender-pref-label,
    .input-sexuality-label {
      font-size: 28px;
    }
  }
  .border-a {
    border-color: $theme-primary;
    fill: $theme-primary; /*svg*/
  }
  .border-b {
    border-color: $theme-secondary;
    fill: $theme-secondary;
  }
}
