{% extends 'sparkrapp/base.html' %}
{% load static %}

<title>{% block title %}My Account - Sparkr{% endblock %}</title>

{% block content %}

<body class="body-account">
    <div class="title-head">
        Account
    </div>
    <div class="display-email">
        Email | {{ account.email }}
    </div>
    <div class="account-cont">
        <div class="profile-prev-cont">
            <div class="title-head-2 title-a">
                Preview Profile
            </div>
            <div class="profile-cont">
                .
            </div>
        </div>
        <div class="text-seperator">
            |
        </div>
        <div class="profile-detail-cont">
            <div class="title-head-2 title-b">
                Profile Details
            </div>
            <div>
                <div class="profile-det-title">Bio</div>
                <div class="profile-det profile-det-bio">
                    {% if profile.user_bio %}
                    {{ profile.user_bio}}
                    {% else %}
                    No Bio
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="profile-det-title">Sexuality</div>
                <div class="profile-det">
                    {{ profile.get_user_sexuality_display }}
                </div>
            </div>
            <div class="profile-det-title">Looking for</div>
            <div class="profile-det">
                -
            </div>
            <div class="editprofile-controls">
                <a href="{% url 'editprofile' profile.id %}"><button>Edit Profile</button></a>
            </div>
        </div>
    </div>
    <div class="signout-control">
        <a href="{% url 'signout' %}"><button>Sign out</button></a>
    </div>
</body>
{% endblock %}